* {
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --white: #0D114F;
    --black: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --gray-dark: #4D5E77;
    --gray-blue: #A1B2CD;
    --gray-light: #E5EAF1;

    font-size: 62.5%;
    /*
    Atualiza o tamanho de 1rem=16px para 1rem=10px para facilitar contas já que vamos usar rem em todo projeto
    */
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background);

}

body, input, button, text {
    font-size: clamp(14px, 1.6rem, 2vw);

    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    
}
